@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

html {
  overflow: hidden;
}

body {
  background: #ffffff;
  text-decoration: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body,
form,
div,
p,
a,
img,
h1,
h2,
h3,
h4,
h5,
h6,
table,
table tr,
table td {
  border: none;
  color: #292929;
  font-family: "Montserrat";
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  outline: none;
  font-family: "Montserrat";
  font-size: 12px;
  box-sizing: border-box;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2 {
  font-size: 20px;
  padding: 0 0 10px 0;
  color: #545454;
}

body {
  background-color: #fff;
  height: 100%;
}

.tonic {
  position: absolute;
}

.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0%;
  right: 0;
  z-index: 1;
  height: 100px;
  padding: 0 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  cursor: pointer;
}

.header__logo img {
  width: 100%;
  max-width: 350px;
}

.header__nav__item {
  font-size: 23px;
  font-family: "Montserrat";
  font-weight: 600;
  color: #292929f0;
  margin-right: 40px;
  letter-spacing: 1px;
  position: relative;
}

.header__nav__item::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 0%;
  background-color: #292929f0;
  bottom: -5px;
  left: 0;
  transition: .3s;
}

.header__nav__item:hover::before {
  width: 100%;
}

.header__nav__item:last-child {
  margin: 0;
}

.header__nav__item--current::before {
  width: 100%;
}

.left-sidebar {
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 50px;
}

.left-sidebar__icons {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
  width: inherit;
}

.left-sidebar__icons a {
  text-align: center;
  transition: all .5s;
  width: inherit;
  margin-bottom: 25px;
}

.left-sidebar__icons a:hover {
  transform: translateY(-10px);
}

.left-sidebar__icons a:hover i {
  color: #323481;
}

.left-sidebar__icons i {
  font-size: 40px;
  transition: .5s;
  color: rgba(51, 54, 130, 0.707);
  -webkit-text-stroke: 0.5px #000;
}

.left-sidebar__icons div {
  height: 100px;
  width: 1px;
  background-color: #a2a4e6;
}

.circle {
  background-color: #0000;
}

.burger {
  display: none;
  position: relative;
  height: 15px;
  width: 30px;
  cursor: pointer;
}

.burger span {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #323481;
  z-index: 101;
  transition: .3s;
}

.burger span:first-child {
  top: 0px;
}

.burger span:nth-child(2) {
  top: 45%;
}

.burger span:last-child {
  bottom: 0;
}

.burger--open span:first-child {
  transform: rotate(45deg);
  top: 50%;
}

.burger--open span:nth-child(2) {
  opacity: 0;
}

.burger--open span:last-child {
  top: 50%;
  transform: rotate(-45deg);
}

.burger-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  width: 200px;
  max-width: 100%;
  z-index: 100;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 2px solid #a2a4e6;
  border-top: none;
  transition: .3s;
  transform: scaleY(0);
  transform-origin: 0 0;
}

.burger-menu__item {
  padding: 15px 0;
  font-size: 15px;
  letter-spacing: 1px;
}

.burger-menu--open {
  transform: scaleY(1);
}

.logo {
  padding: 20px;
}

.logo img {
  width: 100%;
}

.wrapper-page {
  display: flex;
  height: 1000px;
  position: relative;
  transition: all ease-in 0.3s;
}

.first-page,
.second-page,
.third-page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

.first-page {
  position: relative;
}

.first-page__bg {
  height: 100%;
  position: absolute;
  right: -10%;
  top: 0;
  z-index: -1;
}

.first-page__bg img {
  height: inherit;
}

.first-page__block-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.first-page__block-caption__caption {
  margin-bottom: 25px;
  font-size: 55px;
  font-weight: 700;
  color: #323481;
  letter-spacing: 2px;
  -webkit-text-stroke: 0.5px #000;
}

.first-page__block-caption__undercaption {
  margin-bottom: 25px;
  letter-spacing: 2px;
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  color: #323481;
  -webkit-text-stroke: 0.2px #000;
}

.first-page__photo {
  width: 300px;
  margin: 0 auto;
  position: relative;
}

.first-page__photo img {
  width: 100%;
}

.first-page__description {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
  margin-top: 25px;
  font-size: 22px;
  color: #323481;
  -webkit-text-stroke: 0.2px #000;
}

.second-page__wrapper,
.third-page__wrapper {
  margin: 150px 0;
  padding: 0 120px;
}

.second-page__caption,
.third-page__caption {
  font-size: 45px;
  text-align: center;
  color: #323481;
  font-weight: 700;
  -webkit-text-stroke: 0.3px #000;
  margin: 75px 0;
}

.second-page {
  position: relative;
}

.second-page__bg {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 0%;
  z-index: -1;
}

.second-page__bg img {
  width: inherit;
}

.second-page__bg--2 {
  top: 50%;
  left: 0%;
}

.second-page__bg--3 {
  top: 180%;
  left: 40%;
}

.second-page__grid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 15px;
}

.third-page {
  position: relative;
}

.third-page__bg {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0%;
  z-index: -1;
}

.third-page__bg img {
  height: inherit;
}

.third-page__bg--1 {
  top: 100%;
  left: 20%;
  transform: rotate(45deg);
}

.third-page__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.third-page__grid__item {
  position: relative;
  padding: 30px 45px;
  max-width: 300px;
  width: 100%;
  height: 100%;
}

.third-page__grid__item__description {
  height: 190px;
  margin-bottom: 10px;
}

.third-page__grid__item__description p {
  margin-bottom: 15px;
  font-size: 20px;
  color: #fff;
}

.third-page__grid__item__description p:first-child {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.third-page__grid__item__img {
  cursor: pointer;
}

.third-page__grid__item__img img {
  width: 200px;
  transition: .3s;
  margin: 0 auto;
  z-index: 10;
  display: block;
}

.third-page__grid__item__img > div {
  background-color: #e1e1e1;
  width: 200px;
  height: 283px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-page__grid__item__img > div div {
  color: #fff;
  font-size: 30px;
}

.third-page__grid__item::after {
  content: '';
  position: absolute;
  background-color: #a2a4e6ad;
  height: inherit;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

.project-item {
  width: 400px;
  padding: 15px;
  background-color: #a2a4e643;
}

.project-item--full-height {
  height: 195px;
}

.project-item__img {
  width: inherit;
  height: 200px;
  overflow: hidden;
  overflow-y: auto;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.project-item__img::-webkit-scrollbar {
  width: 3px;
}

.project-item__img::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.project-item__img::-webkit-scrollbar-thumb {
  background: #353535;
  cursor: pointer;
}

.project-item__img::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.project-item__img img {
  width: 100%;
}

.project-item__caption {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
  color: #292929f0;
}

.project-item__description {
  font-size: 16px;
  margin-top: 15px;
}

.project-item__technologies {
  display: flex;
  margin-top: 15px;
  flex-wrap: wrap;
  gap: 5px;
}

.project-item__technologies__item {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 700;
}

.project-item__technologies__item--flex {
  background-image: url("../img/flex-bg.jpg");
  background-size: cover;
}

.project-item__technologies__item--grid {
  background-color: #fcf5e4;
}

.project-item__technologies__item--slick {
  background-color: #3498db;
  color: #fff;
}

.project-item__technologies__item--jquery,
.project-item__technologies__item--js {
  background-color: #e9d24e;
}

.project-item__technologies__item--bootstrap {
  background-color: #8411f6;
  color: #fff;
}

.project-item__btn {
  margin: 0 auto;
  margin-top: 30px;
  padding: 15px 20px;
  font-size: 14px;
  width: 150px;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  background-color: #a2a4e6bf;
  position: relative;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
}

.project-item__btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #a2a4e6;
  transition: .5s;
  z-index: -1;
}

.project-item__btn:hover::before {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .first-page__block-caption__caption br {
    display: none;
  }
}

@media screen and (min-width: 950px) {
  .third-page__grid__item__img:hover img {
    transform: scale(2.5);
  }

  .third-page__grid__item--img::before {
    content: 'Hover image to change scale';
    position: absolute;
    top: -25px;
    right: -25px;
    background-color: #898bc5;
    width: 280px;
    padding-top: 15px;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    height: 30px;
  }
}

@media screen and (min-width: 1000px) {
  .first-page__block-caption__undercaption br {
    display: none;
  }
}

@media screen and (max-width: 1450px) {
  .second-page__grid {
    grid-template-columns: auto auto;
  }

  .project-item {
    width: auto;
  }
}

@media screen and (max-width: 1300px) {
  .second-page__caption,
  .third-page__caption {
    margin: 50px 0;
  }
}

@media screen and (max-width: 1150px) {
  .header__logo img {
    max-width: 250px;
  }

  .header__nav__item {
    margin-right: 20px;
    font-size: 18px;
  }

  .left-sidebar__icons {
    padding: 0 5px;
  }

  .first-page__block-caption__caption {
    font-size: 40px;
    margin-bottom: 5px;
  }

  .first-page__block-caption__undercaption {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .first-page__photo {
    width: 270px;
  }

  .first-page__description {
    font-size: 17px;
  }

  .second-page__wrapper,
  .third-page__wrapper {
    padding: 0 45px;
  }

  .project-item {
    width: auto;
  }
}

@media screen and (max-width: 950px) {
  .header {
    padding: 0 25px;
    height: 80px;
  }

  .third-page__grid__item {
    max-width: 450px;
  }

  .third-page__grid__item__img img {
    width: 350px;
  }
}

@media screen and (max-width: 900px) {
  .second-page__caption,
  .third-page__caption {
    margin: 25px 0;
    font-size: 40px;
  }
}

@media screen and (max-width: 850px) {
  .first-page__description {
    max-width: 80%;
  }
}

@media screen and (max-width: 800px) {
  .first-page__block-caption {
    margin-top: 80px;
  }

  .first-page__block-caption__undercaption {
    text-align: center;
  }

  .second-page__grid {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 750px) {
  .left-sidebar {
    width: 30px;
  }

  .left-sidebar__icons a {
    margin-bottom: 15px;
  }

  .left-sidebar__icons i {
    font-size: 30px;
  }
}

@media screen and (max-width: 700px) {
  .header {
    padding: 0 15px;
  }

  .header__logo img {
    max-width: 200px;
  }

  .header__nav__item {
    margin-right: 15px;
    font-size: 16px;
  }

  .first-page__block-caption__caption {
    font-size: 30px;
  }

  .second-page__wrapper,
  .third-page__wrapper {
    padding-right: 15px;
  }

  .third-page__grid__item {
    padding: 20px 25px;
  }

  .third-page__grid__item__description {
    height: auto;
    margin-bottom: 25px;
  }

  .third-page__grid__item__description p {
    font-size: 16px;
    margin-bottom: 5px;
    height: auto;
  }

  .third-page__grid__item__img img {
    width: 250px;
  }
}

@media screen and (max-width: 600px) {
  .header__nav {
    display: none;
  }

  .burger {
    display: block;
  }
}

@media screen and (max-width: 550px) {
  .first-page__photo {
    width: 180px;
  }

  .first-page__description {
    max-width: 75%;
  }
}

@media screen and (max-width: 500px) {
  .third-page__grid__item {
    padding: 10px 15px;
  }

  .third-page__grid__item__description p {
    font-size: 14px;
  }

  .third-page__grid__item__img img {
    width: 200px;
  }

  .project-item__img {
    height: 140px;
  }
}

@media screen and (max-width: 450px) {
  .second-page__caption,
  .third-page__caption {
    margin: 25px 0;
    font-size: 25px;
  }
}